<div style="padding: 30px;">

    <div class="row">

        <div class="col-md-12">
            <mat-form-field class="with100">
                <mat-label>Código de autorización: </mat-label>
                <input #tbxAuthorizationCode
                matInput
                placeholder="Ingrese el código de autorización"
                type="password"
                [(ngModel)]="actionForm.authorizationCode"
                (keyup)="event_fn_Enter( $event )">
            </mat-form-field>
        </div>
            
    </div>

    <div class="row top10px">
        <div class="col-md-12">
            <div style="float: left;">
                <button
                mat-raised-button
                color="primary"
                type="submit"
                class="marginRight10px"
                (click)="fn_authorizationAction()">
                <mat-icon matPrefix class="my-icon">check_circle</mat-icon>
                Autorizar</button>

                <button mat-raised-button
                type="button"
                (click)="fn_CerrarMDL( 0 )">
                <mat-icon matPrefix class="my-icon">close</mat-icon>
                Cerrar</button>
                
            </div>
        </div>
    </div>

</div>
    
<app-spinner [hidden]="!bShowSpinner"></app-spinner>