<div class="divMain textAlingCenter" style="width: 100%;">
    <div class="row">
        <div class="col-md-1">
            <div class="divSearch">
                <span class="material-icons manitaSobre colorGreen"
                (click)="changeRoute('rol')">
                add_circle_outline
                </span>
            </div>
        </div>
        <div class="col-md-11">
            <div class="divTitle-center">
                {{ title }}
            </div>
        </div>
    </div>

    <div class="row top20px">
        <div class="col-md-12">
            <mat-form-field class="with100">
                <mat-label>Búqueda del Rol por nombre o descripción</mat-label>
                <input (change)="onChangeEvent($event)" matInput placeholder="Ingrese un nombre">
              </mat-form-field>
        </div>
    </div>
    
    <div class="row top20px">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <th class="textAlingCenter padding-th">Acciones</th>
                            <th class="textAlingCenter padding-th">Nombre</th>
                            <th class="textAlingCenter padding-th">Descripción</th>
                            <th class="textAlingCenter padding-th">Creado</th>
                            <th class="textAlingCenter padding-th">Activo</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of catlist">
                                <td class="textAlingCenter">
                                    <div style="width: 100px;">
                                        <span class="material-icons manitaSobre colorGreen"
                                        matTooltip="Editar Rol"
                                        (click)="edit(item.idRol)">
                                            edit
                                        </span>

                                        <span class="material-icons manitaSobre colorRed"
                                        matTooltip="Eliminar Rol"
                                        
                                            *ngIf="item.active">
                                            delete_outline
                                        </span>

                                        <span class="material-icons manitaSobre"
                                        matTooltip="Configurar permisos de acciones"
                                            (click)="showActionsConf(item.idRol, item.name)"
                                            *ngIf="item.active">
                                            https
                                        </span>

                                        <span class="material-icons manitaSobre"
                                        matTooltip="Configurar permisos de Menú"
                                            (click)="showMenusPermisos(item.idRol, item.name)"
                                            *ngIf="item.active">
                                            menu
                                        </span>

                                    </div>
                                </td>
                                <td class="textAlingLeft">{{ item.name }}</td>
                                <td class="textAlingLeft">{{ item.description }}</td>

                                <td class="textAlingCenter">{{ item.createDate | date:'dd-MM-yyyy' }}</td>

                                <td class="textAlingCenter">
                                    <mat-checkbox class="example-margin" [(ngModel)]="item.active" disabled></mat-checkbox>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <app-pagination *ngIf="catlist" [IPagination]="pagination"
                                (OPagination)="changePagination($event)">
                </app-pagination>
                
            
        </div>
    </div>
    
</div>

<app-spinner [hidden]="!bShowSpinner"></app-spinner>