<mat-sidenav-container fullscreen>

    <div class="container">
        <div class="loginDiv textAlingCenter" >
            <div class="row">
                <div class="col-md-12">
                    <div class="">
                        <img width="150" src="assets/img/icons/fletes.gif" alt="">
                    </div>
                </div>
            </div>
            <br>
            
            <router-outlet></router-outlet>
            
        </div>
    </div>
    
</mat-sidenav-container>