<app-header title="Add Folio" icon="backButton"></app-header>

<ion-content [fullscreen]="true">

  <ion-grid>

    <ion-row>
      <ion-col size="12">
        <ion-input label="Folio:"
        label-placement="floating"
        fill="outline"
        placeholder="Ingresa un folio"
        [(ngModel)]="folio.folio"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-textarea
        label="Recibido por:"
        labelPlacement="floating"
        fill="outline"
        placeholder="Ingresa quien recibió"
        [(ngModel)]="folio.recibidoPor"></ion-textarea>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-input label="Scan:"
        label-placement="floating"
        fill="outline"
        placeholder="Ingresa el scan"
        [(ngModel)]="folio.scan"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-textarea
        label="Nota"
        labelPlacement="floating"
        fill="outline"
        placeholder="Agregue una nota"
        [(ngModel)]="folio.nota"></ion-textarea>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button color="success" (click)="fn_insertFolio()">
          <ion-icon slot="start" name="save-outline"></ion-icon>
          Guardar
        </ion-button>

        <ion-button
        (click)="cerrar()">
          <ion-icon slot="start" name="close-circle-outline"></ion-icon>
          Cerrar
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>

