/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";


.spacer {
    flex: 1 1 auto;
}

.mat-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.marginRight10px {
    margin-right: 10px !important;
}

.textAlingLeft {
    text-align: left !important;
    text-align: -webkit-left !important;
}

.textAlingCenter {
    text-align: center !important;
    text-align: -webkit-center !important;
}

.textAlingRight {
    text-align: right !important;
    text-align: -webkit-right !important;
}

.divMain {
    width: auto;
    background-color: white;
    border-radius: 20px !important;
    padding: 30px 30px 30px 30px !important;
    box-shadow: 1px 1px 5px grey !important;
    z-index: 1 !important;
    margin: auto !important;
    margin-top: 50px !important;
}

.loginDiv {
    width: 300px;
    background-color: white;
    border-radius: 20px;
    padding: 20px 10px 20px 10px;
    box-shadow: 20px 20px 80px grey;
    z-index: 1;
    margin: auto;
    margin-top: 100px;
}

.divIconUp {
    background-color: white;
    border-radius: 5px;
    width: 63px;
    height: 66px;
    margin-top: -55px;
    text-align: center;
    padding: 2px;
    margin-left: 100px;
    margin: auto;
    box-shadow: 2px 2px 10px grey;
}

.btnLogin {
    width: 80%;
    height: 50px;
    text-align: center !important;
    background-color: skyblue;
    border-radius: 100px;
    border: none;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

    .btnLogin:hover {
        transform: scale(1.02);
        box-shadow: 5px 5px 20px grey;
    }

#headerApp {
    box-shadow: 2px 2px 10px grey;
    margin-bottom: 20px;
    background-color: white;
}

.label {
    border-radius: 10px;
    padding: 2px;
}

.label-success {
    background-color: #5cb85c;
    color: white;
}

.label-info {
    background-color: #5bc0de;
}

.label-primary {
    background-color: #337ab7;
}

.label-default {
    background-color: #777;
}

.label-warning {
    background-color: #f0ad4e;
}

.label-danger {
    background-color: #d9534f;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 90%;
    font-weight: 500;
    line-height: 1;
    color: white;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.top10px {
    margin-top: 10px !important;
}

.top15px {
    margin-top: 15px !important;
}

.top20px {
    margin-top: 20px !important;
}

.top25px {
    margin-top: 25px !important;
}

.top30px {
    margin-top: 30px !important;
}

.manitaSobre {
    cursor: pointer;
}

.colorRed{
    color: red;
}

.colorGreen{
    color: #5cb85c;
}

.colorWhite {
    color: white;
}

.colorBlue {
    color: blue;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.overlay{
    height:100vh;
    width:100%;
    background-color:rgba(0, 0, 0, 0.286);
    z-index:    10;
    top:        0; 
    left:       0; 
    position:   fixed;
  }

  body{
	margin:0;
}

.divTitle-center {
    background-color: #5fb5e5;
    color: white;
    font-weight: inherit;
    padding: 10px;
    text-align: center;
    margin-top: -50px;
    box-shadow: 1px 1px 5px grey;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

    .divTitle-center:hover {
        background-color: skyblue;
    }

    .divSearch {
        background-color: white;
        border-radius: 5px;
        width: 80px;
        height: 50px;
        margin-top: -55px;
        text-align: center;
        padding: 12px;
        box-shadow: 2px 2px 10px grey;
    }


    @media screen and (max-width: 767px) {
        .divTitle-center {
            margin-top: 10px;
        }
    }

.padding-th {
    padding: 0 10px 12px 10px
}

.marginRight10px {
    margin-right: 10px;
}

.with100 {
    width: 100%;
}

.colorGreen{
    color: green !important;
}

.colorRed {
    color: red !important;
}

.fontSize{
    font-size: 25px !important;
}

.mat-mdc-option-active{
    background-color: #b2b2b8 !important;
}


.cdk-global-overlay-wrapper {
    display: flex;
    position: absolute;
    z-index: 1000;
    overflow: auto;
    pointer-events: auto !important;  
  }

.divSection {
    width: auto;
    background-color: white;
    border-radius: 20px !important;
    padding: 20px 20px 5px 20px !important;
    box-shadow: 1px 1px 5px grey !important;
    z-index: 1 !important;
    margin: auto !important;
    margin-top: 20px !important;
}

@media (max-width: 700px) {
    /* Estilos que se aplicarán cuando el ancho de la pantalla sea menor a 700px */
  
    .top10px700 {
      margin-top: 10px;
    }
  
    /* Puedes agregar más estilos específicos para pantallas pequeñas aquí */
  }


  .inlineDIV {
    position: relative !important;
  }

  .inlineObj {
    display: inline-block !important;
  }

  @keyframes escala-continua {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .elemento-animado {
    animation: escala-continua 2s infinite; /* 2s es la duración, infinite indica que la animación se repite indefinidamente */
  }

  .autoHeight {
    height: auto !important;
  }

.border1px {
    border: 1px solid #000;
}